<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="./public/css/forms.css">

</head>

<body>
<%- include('../includes/navigation.ejs') %>
<h1> Here you will see your products</h1>
<h3>coming soon</h3>



<%- include('../includes/end.ejs') %>